[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.1.0"
djangorestframework = "~=3.15.2"
markdown = "*"
django-filter = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.12"
