[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.6"
djangorestframework = "==3.15.2"
markdown = "*"
django-filter = "*"
python = "==3.12"

[dev-packages]

[requires]
python_version = "3.12"
